.app.dark {
  --bg-color: #404040;
  --inverted-bg-color: #F5F5F5;

  --primary-color: #87c606;
  --secondary-color: #F5F5F5;
  --inverted-primary-color: #ec6d08;
  --inverted-secondary-color: #ffffff;
}
