.app_green_theme {
    --bg-color: #f4fbf7;
    --inverted-bg-color: #155530;
    --primary-color: #155530;
    --secondary-color: rgb(1 19 1 / 71%);
    --inverted-primary-color: #f4fbf7;
    --inverted-secondary-color: #155530;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
