.app_green_theme {
    --bg-color: #F4FBF7;
    --inverted-bg-color: #155530;
    --primary-color: #155530;
    --secondary-color: #F4FBF7;
    --inverted-primary-color: #F4FBF7;
    --inverted-secondary-color: #155530;
}
