.app_light_theme {
    --bg-color: #f5f5f5;
    --inverted-bg-color: #404040;
    --primary-color: #ec6d08;
    --secondary-color: #f3a162;
    --inverted-primary-color: #83bb12;
    --inverted-secondary-color: #90b644a0;
}
