.app.light {
  --bg-color: #F5F5F5;
  --inverted-bg-color: #404040;

  --primary-color: #ec6d08;
  --secondary-color: #ffffff;
  --inverted-primary-color: #87c606;
  --inverted-secondary-color: #F5F5F5;
}
